[project]
	description = test
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kamy01
[access "refs/for/refs/*"]
	read = group user/kamy01
	push = group user/kamy01
	label-Code-Review = -2..+2 group user/kamy01
	label-Verified = -1..+1 group user/kamy01
	rebase = group user/kamy01
	removeReviewer = group user/kamy01
	submit = group user/kamy01
[access "refs/heads/*"]
	read = group user/kamy01
	create = group user/kamy01
	push = +force group user/kamy01
	pushMerge = group user/kamy01
[access "refs/tags/*"]
	push = group user/kamy01
	push = +force group user/kamy01
